body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif; /* Add a preferred font family for the text */
}

.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.custom-card {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    text-align: left;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}
